<header class="bg-white">
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url 'core:index' %}">{% include 'common/logo/logo.svg' %}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li> -->
            </ul>
            <div>
              <a href="{% url 'account_login' %}" class="btn btn-primary">Sign In</a>
              <a href="{% url 'account_signup' %}" class="btn btn-outline-primary">Sign Up</a>
            </div>
          </div>
        </div>
      </nav>
</header>